.menu {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 15vh;
}

.menu h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.menu ul li .gerecht-naam {
    flex: 1; /* Neem de beschikbare ruimte voor de naam */
}

.menu ul li .gerecht-prijs {
    margin-left: 20px;
    font-weight: bold;
    color: #333;
}

