.login-button
{
    background-color: #0000cc;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition:  0.3s background-color;
}

.login-button:hover
{
    background-color: #000099;
}

.nav-link
{          
    transition:  0.3s background-color;
    font-weight: 500;
}

.nav-link:hover
{
  color: #000099 ;   

}

.navbar-toggler
{
    border: none;
}

.logo
{
    height: 50px;
    width: 50px;
    border-radius: 60px;
}